@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  background-color: #507DBC;
  color: #04080F;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 4vh;
  margin: 0;
  max-width: 100%;
  padding: 0;
  text-align: center;
}

div#content {
  background-color: #86E7B8;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding: 1rem 3rem 3rem 3rem;
  width: 1000px;
}

header h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 1rem;
}

button {
  border: 1px solid #507DBC;
  border-right: 3px solid #507DBC;
  border-top: 3px solid #507DBC;
  font-size: .5rem;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
}

button:active {
  border: 1px solid #507DBC;
  border-top: 2px solid #507DBC;
}

input {
  border: 1px solid #507DBC;
  font-size: 1rem;
  text-transform: lowercase;
  width: 10rem;
}

button, input, select {
  background: #F2F5DE;
  border-radius: .25rem;
  color: #04080F;
  line-height: 1rem;
  margin-bottom: .5rem;
  padding: .25rem;
  vertical-align: middle;
}

input::placeholder {
  color: #507DBC;
  font-style: italic;
}

span#output,
span#create-member-options,
span#lookup-privileges-options,
div#confer-role-options {
  display: none;
}